img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
ul p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 26px;
    color: #fff;
    background:rgb(28, 78, 124);
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;

}
.name{
    margin-left: 5px;
}