.header img {
    width: 200px;
    height: 150px;
}
.header{
    text-align: center;
}
nav{
   background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url(../../images/un.jpg);
   /* background-image: url(../../images/un.jpg); */
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;

}
nav h1{
    font-size: 32px;
    font-weight: 800;
}
nav h2{
    font-size: 28px;
    font-weight: 600;
}
nav p{
    font-size: 18px;
    font-weight: 600;
}

